
<div class="map" id="map"></div>
<div class="drawer">
     <div class="head">
         
            <nz-switch [ngModel]="true" nzCheckedChildren="实时" nzUnCheckedChildren="录制"></nz-switch>
       

            <button nz-button nzType="text">连接</button>

     
     </div>  
     <div class="info"> 
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label  nzRequired nzFor="number">设备编号</nz-form-label>
              <nz-form-control nzErrorTip="请输入设备编号">
                <input type="text" nz-input formControlName="number" placeholder="请输入设备编号" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label  nzRequired nzFor="address">网关地址</nz-form-label>
                <nz-form-control nzErrorTip="请输入网关地址">
                  <input type="text" nz-input formControlName="address" placeholder="请输入网关地址" />
                </nz-form-control>
              </nz-form-item>
          </form>
     </div>
     <div class="items">
        <nz-timeline >
            <nz-timeline-item *ngFor="let item of items;">{{ item.time | date:'yyyy-MM-dd HH:mm:ss'}}</nz-timeline-item>
          </nz-timeline>
     </div>
     <div class="log"> 

     </div>
</div>
